
//hero mobile sizes
.container-intro {
    position: relative;

    .image-intro {
        height: 80vh;

        img {
            max-width: 100%;
            height: 80vh;
            position: fixed;
        }
    }

    .model-navbar {
        position: absolute;
        top: 0%;
        left: 0%;
        right: 0%;
        min-height: 10vh;
        width: 100%;
        padding: 0 5% 0 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;
        }
    }

    .pageName {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -70%);
        text-align: center;
        color: white;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    
        h1 {
            font-size: 3.5rem;
            font-weight: 500;
        }
    
        h3 {
            font-size: 1.5rem;
            font-weight: 200;
        }
    }

    //hero tablet sizes
    @include breakpoint(medium){
        .image-intro {
            height: 80vh;

            img {
                width: 100%;
                height: 80vh;
            }
        }
    
        .pageName {
            h1 {
                font-size: 3.8rem;
            }
        
            h3 {
                font-size: 2rem;
            }
        }
    }

    //hero laptop sizes
    @include breakpoint(large){
        .image-intro {
            height: 90vh;

            img {
                width: 100%;
                height: 120vh;
            }
        }
    
        .pageName {
            padding-top: 10rem;

            h1 {
                font-size: 4.5rem;
            }
        
            h3 {
                font-size: 2.5rem;
            }
        }
    }
}

//content mobile sizes
.content-container {
    position: absolute;
    background-color: white;
    display: grid;
    grid-template-columns: 100%;
    padding: 3rem;
    padding-top: 5rem;

        .first-container, .grid-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .contentBox {
                padding-bottom: 4rem;;
                text-align: center;

                h3 {
                    font-size: 2.5rem;
                    padding-bottom: 2rem;
                }

                .description {
                    font-size: 1rem;
                    text-align: justify;
                }
            }

            img {
                width: 60vw;
                padding-bottom: 6rem;
            }
        }
    
    //content laptop sizes
    @include breakpoint(large) {
        padding: 6rem;

        .first-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding-bottom: 2rem;
            gap: 3rem;
        }
            .contentBox {
                display: flex;
                flex-direction: column;

            .description {
                font-size: 1.3rem;
                }
            }

            .profileimage {
                display: flex;
                justify-content: flex-end;
        
                img {
                    width: 25rem;
                }
            }

            .grid-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas: "column-2 column-1";
                gap: 3rem;
        
                grid-item:nth-child(1) { grid-area: column-1; }
                grid-item:nth-child(2) { grid-area: column-2; }
        
                .profileimage {
                    justify-content: flex-start;
                }
            }
        }
}